In [1]:
# pip install -i https://test.pypi.org/simple/ tj-preproc

import pandas as pd
from tj_text.tj_preproc import text_preprocessing_ds, text_preprocessing

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/EnggQasim/Saylani-AI-Batch3/main/MachineLearning/NLP/train.tsv", 
                 sep="\t")

display(df.info())
display(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

None

(156060, 4)

In [3]:
df1 = df.head(1000).reset_index()
display(df1.head())
display(df1.shape)

,index,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,A series of escapades demonstrating the adage ...,1
1,1,2,1,A series of escapades demonstrating the adage ...,2
2,2,3,1,A series,2
3,3,4,1,A,2
4,4,5,1,series,2

(1000, 5)

### Existing method

In [5]:
%%time
df1 = df.head(1000).reset_index()
df1['input_data'] = df1.Phrase.apply(text_preprocessing)
df1.head()

CPU times: user 1min 22s, sys: 5.56 s, total: 1min 28s
Wall time: 1min 28s

,index,PhraseId,SentenceId,Phrase,Sentiment,input_data
0,0,1,1,A series of escapades demonstrating the adage ...,1,"[', series, escalate, demonstrate, adage, good..."
1,1,2,1,A series of escapades demonstrating the adage ...,2,"[', series, escalate, demonstrate, adage, good..."
2,2,3,1,A series,2,"[', series, ']"
3,3,4,1,A,2,"[', ']"
4,4,5,1,series,2,"['series, ']"

### Revised optimized method

In [6]:
%%time
df2 = df.head(10000).reset_index()
df2['input_data'] = text_preprocessing_ds(df2['Phrase'])
df2.head()

 * Removing newlines/tabs:                  : 0.0034

/home/tjamil/anaconda3/envs/nlp1/lib/python3.8/site-packages/bs4/__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

 * Stripping html tags:                     : 0.3722
 * Removing links                           : 0.0143
 * Removing whitespaces                     : 0.0250
 * Removing accented characters             : 0.0023
 * Lower casing                             : 0.0019
 * Removing incorrect character repetitions : 0.0464
 * Contractions                             : 0.0142
 * Removing special characters              : 0.0185
 * Removing stop words

100%|██████████| 10000/10000 [00:00<00:00, 25195.86it/s]

 * Spelling corrections

100%|██████████| 10000/10000 [01:59<00:00, 83.59it/s]

 * Lemantization                            : 0.1509
CPU times: user 1.9 s, sys: 219 ms, total: 2.12 s
Wall time: 2min

,index,PhraseId,SentenceId,Phrase,Sentiment,input_data
0,0,1,1,A series of escapades demonstrating the adage ...,1,"[', series, escalate, demonstrate, adage, good..."
1,1,2,1,A series of escapades demonstrating the adage ...,2,"[', series, escalate, demonstrate, adage, good..."
2,2,3,1,A series,2,"[', series, ']"
3,3,4,1,A,2,"[', ']"
4,4,5,1,series,2,"['series, ']"

### The new method is 7.5 times faster

##### method-1 : 1000 phrases processed in 88 seconds
##### method-2 : 10000 phrases processed in 120 seconds